<div class="container-fluid mt-5" *ngIf="newsFeed">
  <div class="card flex-row flex-wrap mt-2" *ngFor="let news of newsFeed | async | reverse">
    
    <div class="card-header border-0 col-3" *ngIf="news.image">
      <img src={{news.image}} alt="foto vaan het nieuws" style="width:100%;" >
    </div>
    
    <div class="card-block px-2 col-9" *ngIf="news.image">
      <h4 class="card-title">{{news.title}}</h4>
      <p class="card-text">{{news.body}}</p>
    </div>
    
    <div class="card-block px-2 col-12" *ngIf="!news.image">
      <h4 class="card-title">{{news.title}}</h4>
      <p class="card-text">{{news.body}}</p>
    </div>



    
    <div class="w-100"></div>
    
    <div class="card-footer w-100 text-muted">
      {{news.date | time }} by {{news.author}}
    </div>
  
  </div>
</div>
