
<div class="container-fluid mt-5" *ngIf="newsFeed">
  <div class="row mt-2" *ngFor="let news of newsFeed | async">
    <div class="col-4" >
<img src={{news.image}} alt="foto vaan het nieuws" style="width:100%">
      
    </div>
    <div class="col-8">
      <div class="card bg-light mb-3">
        <div class="card-header">{{news.title}}</div>
        <div class="card-body">
          <p class="card-text">{{news.body}}</p>
<p class="card-text"><small class="text-muted">{{news.date | time }} by {{news.author}}</small></p>
        </div>
      </div>
    </div>

  </div>
</div>

